<div class="row">
        <div class="col-6">
            <mat-card class="example-card">
               
                 
                    <mat-card-header>
                 
                    <mat-card-title >EMPLEADO N°{{dato.identificador}}</mat-card-title>
    
                  
                  </mat-card-header>
             
                  
              
                <mat-card-content>
                  <label> <b>Nombre :</b> {{dato.nombre}}</label> <br>
                  <label> <b>Apellido :</b>  {{dato.apellidos}}</label> <br>
                  <label> <b>Correo :</b>  {{dato.correo}}</label> <br>
                  <label> <b>Direccion :</b>  {{dato.direccion}}</label> <br>
                  <label> <b>Telefono :</b> {{dato.telefono}}</label> <br>
                  <label> <b>Carnet:</b>  {{dato.carnet}}</label> <br>
                  <label> <b>Cargo :</b>  {{dato.cargo}}</label> <br>
                  <label> <b>Sucursal :</b>  {{dato.sucursal}}</label> <br>
                </mat-card-content>
                <mat-card-actions>
                        <button class="btn btn-block btn-lg btn-primary" (click)="back()">Volver Atras</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center">PEDIDOS</h5>
                        <table mat-table [dataSource]="pedidos" class="mat-elevation-z8">
            
                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                              
                                <!-- Position Column -->
                               
                              
                                <!-- Name Column -->
                                <ng-container matColumnDef="precio">
                                  <th mat-header-cell *matHeaderCellDef class="text-center"> Precio </th>
                                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                </ng-container>
                              
                                <!-- Weight Column -->
                                <ng-container matColumnDef="estado">
                                  <th mat-header-cell *matHeaderCellDef class="text-center"> Estado</th>
                                  <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                                </ng-container>
                              
                                <!-- Symbol Column -->
        
                                      <ng-container matColumnDef="ver">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Ver </th>
                                        <td mat-cell *matCellDef="let element" class="text-center"> 
                                           <button class="btn btn-success btn-sm" (click)="goToView(element.id)">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>
                                           </button> 
                                          
                                         </td>
                                      
                                      </ng-container>
        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                              
            
                </div>
            </div>
        </div>
    </div>
    
