<div class="row">
        <div class="col-6">
            <mat-card class="example-card">
               
                 
                    <mat-card-header>
                 
                    <mat-card-title >PRODUCTO N°{{dato.identificador}}</mat-card-title>
    
                  
                  </mat-card-header>
             
                  
              
                <mat-card-content>
                  <label> <b>Nombre :</b> {{dato.nombre}}</label> <br>
                  <label> <b>Precio :</b>  {{dato.precio|number:'1.2'|currency:'Bs '}}</label> <br>
                  <label> <b>Stock :</b>  {{dato.stock}}</label> <br>
                  <label> <b>Reserva :</b>  {{dato.reserva}}</label> <br>
                  <label> <b>Estado :</b>  {{dato.estado}}</label> <br>
                  <label> <b>Proveedor :</b>  {{dato.proveedor}}</label> <br>
                  <label> <b>Categoria :</b>  {{dato.categoria}}</label> <br>
                  
                  <div class="imagen row">
                    <div class="col-12">
                        <img [src]="dato.img" alt="">
                    </div>
                  
                  </div>
                </mat-card-content>
                <mat-card-actions>
                        <button class="btn btn-block btn-lg btn-primary" (click)="back()">Volver Atras</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="example-card">
               
                 
                <mat-card-header>
             
                <mat-card-title >CATEGORIA N°{{categoria.identificador}}</mat-card-title>

              
              </mat-card-header>
         
              
          
            <mat-card-content>
              <label> <b>Nombre :</b> {{categoria.nombre}}</label> <br>
              <label> <b>Descripcion :</b>  {{categoria.descripcion}}</label> <br>
           
            </mat-card-content>
            <mat-card-actions>
                    <button class="btn btn-block btn-lg btn-primary" (click)="goToCategoria(categoria.identificador)">Ver Categoria</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="example-card">
               
                 
              <mat-card-header>
           
              <mat-card-title >PROVEEDOR N°{{proveedor.identificador}}</mat-card-title>

            
            </mat-card-header>
       
            
        
          <mat-card-content>
            <label> <b>Nombre :</b> {{proveedor.nombre}}</label> <br>
            <label> <b>Direccion :</b>  {{proveedor.direccion}}</label> <br>
           
          </mat-card-content>
          <mat-card-actions>
                  <button class="btn btn-block btn-lg btn-primary" (click)="goToProveedor(proveedor.identificador)">Ver Proveedor</button>
          </mat-card-actions>
        </mat-card>
        </div>
    </div>
