<div class="row">
        <div class="col-8 offset-2">
                <form action="" method="POST">
                        <div class="form-group">
                                <mat-form-field class="input">         
                                    <input matInput placeholder="Nombre" required name="nombre" 
                                  [(ngModel)]="dato.nombre">
                                  </mat-form-field>
                            </div>
                            <div class="form-group">
                                    <mat-form-field class="input">
                                    <input matInput placeholder="Precio" required name="precio" 
                                        [(ngModel)]="dato.precio"
                                        >
                                     </mat-form-field>
                           </div>
                              
                           <div class="form-group">
                                        <mat-form-field class="input">
                                        <input matInput placeholder="Stock" required name="stock" [(ngModel)]="dato.stock">
                                        </mat-form-field>
                           </div>
                           <div class="form-group">
                                <mat-form-field class="input">
                                <input matInput placeholder="imagen" required name="imagen" [(ngModel)]="dato.imagen">
                                </mat-form-field>
                   </div>     
                           <div class="form-group">
                                            <mat-form-field class="input">
                                            <input matInput placeholder="Reserva" required name="reserva"  [(ngModel)]="dato.reserva">
                                            </mat-form-field>
                           </div>
                           <div class="form-group">
                                <mat-form-field class="input">
                                <input matInput placeholder="Estado" required name="estado"  [(ngModel)]="dato.estado">
                                </mat-form-field>
               </div>
               <div class="form-group">
                    <mat-form-field class="input">
                    <input matInput placeholder="Proveedor" required name="proveedor"  [(ngModel)]="dato.proveedor">
                    </mat-form-field>
   </div>
   <div class="form-group">
        <mat-form-field class="input">
        <input matInput placeholder="Categoria" required name="categoria"  [(ngModel)]="dato.categoria">
        </mat-form-field>
</div>
                                       
                    <button *ngIf="formNew" (click)="send()" class="btn btn-success btn-lg btn-block" >Enviar</button>
                   
                </form>
                <button  *ngIf="formUpdate" class="btn btn-primary btn-lg btn-block" (click)="update()" >Actualizar</button>
                <button class="btn btn-secondary btn-lg btn-block" (click)="back()">Volver Atras</button>
        </div>
    </div>
    
