<div class="row">
    
    <div class="offset-3 col-6">
       <div class="card">
          <div class="card-header">
            LOGIN
      
          </div>
          <div class="card-body">
            <form #loginForm=ngForm (ngSubmit)="onSubmit()" >
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required name="email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password" required name="password">
                </div>
              </div>
             
            
              <div class="form-group row">
                <div class=" col-sm-12">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Ingresar</button>
                 
                </div>
                
              </div>
            </form>
          </div>
        </div>
      </div>

</div>