<!-- <a [routerLink]="['/menu', {outlets: {this: ['sucursal']}}]">Sucursal</a>
<a [routerLink]="['/menu', {outlets: {this: ['sucursalForm']}}]" [queryParams]="{prop: 'xxx'}">Form</a>
<br>
<a [routerLink]="['/menu', {outlets: {this: ['empleado']}}]">Empleado</a>
<a [routerLink]="['/menu', {outlets: {this: ['empleadoForm']}}]">Form</a>
<br>
<a [routerLink]="['/menu', {outlets: {this: ['cliente']}}]">Cliente</a>
<a [routerLink]="['/menu', {outlets: {this: ['clienteForm']}}]">Form</a>
<br>
<a [routerLink]="['/menu', {outlets: {this: ['pedido']}}]">Pedido</a>
<a [routerLink]="['/menu', {outlets: {this: ['reserva']}}]">Reserva</a>
<br>
<a [routerLink]="['/menu', {outlets: {this: ['categoria']}}]">Categoria</a>
<a [routerLink]="['/menu', {outlets: {this: ['categoriaForm']}}]">Form</a>
<br>
<a [routerLink]="['/menu', {outlets: {this: ['proveedor']}}]">Proveedor</a>
<a [routerLink]="['/menu', {outlets: {this: ['proveedorForm']}}]">Form</a>
<br> -->

<li>
    <ul> <a [routerLink]="['/menu', {outlets: {this: ['sucursal']}}]" class="btn btn-block btn-lg">Sucursal</a> </ul>
    <ul><a [routerLink]="['/menu', {outlets: {this: ['empleado']}}]" class="btn btn-block btn-lg">Empleado</a></ul>
    <ul><a [routerLink]="['/menu', {outlets: {this: ['cliente']}}]" class="btn btn-block btn-lg">Cliente</a></ul>
    <ul> <a [routerLink]="['/menu', {outlets: {this: ['pedido']}}]" class="btn btn-block btn-lg">Pedido</a> </ul>
    <ul> <a [routerLink]="['/menu', {outlets: {this: ['reserva']}}]" class="btn btn-block btn-lg">Reserva</a> </ul>
    <ul><a [routerLink]="['/menu', {outlets: {this: ['categoria']}}]" class="btn btn-block btn-lg">Categoria</a></ul>
    <ul><a [routerLink]="['/menu', {outlets: {this: ['proveedor']}}]" class="btn btn-block btn-lg">Proveedor</a></ul>
    <ul> <a [routerLink]="['/menu', {outlets: {this: ['producto']}}]" class="btn btn-block btn-lg">Producto</a> </ul>
    <ul> <a [routerLink]="['/menu', {outlets: {this: ['auto']}}]" class="btn btn-block btn-lg">Auto</a> </ul>
</li>