<div class="row">
    <div class="col-6 data">
            <form action="" method="POST">
                    <div class="form-group">
                            <mat-form-field class="input">         
                                <input matInput placeholder="Precio" required name="precio" 
                              [(ngModel)]="dato.precio">
                              </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="input"> 
                                <mat-label>Estado</mat-label>
                                <mat-select [(value)]="dato.estado" >
                                        <mat-option  value="finalizado">                                            Finalizado
                                          </mat-option>
                                          <mat-option  value="espera">                                            En espera
                                        </mat-option>
                                        <mat-option  value="reserva">                                            En reserva
                                        </mat-option>
                                                </mat-select>
                        </mat-form-field>
                </div>
                       <div class="form-group">
                                    <mat-form-field class="input"> 
                                        <mat-label>Cliente</mat-label>
                                        <mat-select [(value)]="dato.cliente" readonly>
                                                <mat-option *ngFor="let cliente of clientes" [value]="cliente.identificador">                                            {{cliente.nombre}}
                                                  </mat-option>
                                                        </mat-select>
                                </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="input"> 
                                <mat-label>Conductor</mat-label>
                                <mat-select [(value)]="dato.conductor">
                                        <mat-option *ngFor="let conductor of conductors" [value]="conductor.identificador">                                            {{conductor.nombre}}
                                          </mat-option>
                                                </mat-select>
                        </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="input"> 
                        <mat-label>Administrador</mat-label>
                        <mat-select [(value)]="dato.administrador">
                                <mat-option *ngFor="let administrador of administradors" [value]="administrador.identificador">                                            {{administrador.nombre}}
                                  </mat-option>
                                        </mat-select>
                </mat-form-field>
        </div>
               
               
            </form>
            <button  class="btn btn-primary btn-lg btn-block" (click)="update()" >Finalizar Pedido</button>
            <button class="btn btn-secondary btn-lg btn-block" (click)="back()">Volver Atras</button>
    </div>
    <div class="col-6 data">
        <h6> <b>Direcccion :</b>  {{Cliente.direccion}}</h6><br>
        <h6> <b>Conductor :</b>  {{Empleado.nombre}}</h6> <br>

        <button class="btn btn-secondary btn-lg btn-block" (click)="ver()">Ver Lista de Productos</button>

        <br>
        <h5 class="text-center">LISTA DE PRODUCTOS</h5>
          <table *ngIf="tablabandera" mat-table [dataSource]="productos" class="mat-elevation-z8">
      
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
         
            
              <!-- Name Column -->
              <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                      <td mat-cell *matCellDef="let element"  class="text-center"> {{element.nombre}} </td>
                    </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Precio </th>
                <td mat-cell *matCellDef="let element"  class="text-center"> {{element.precio}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
                <td mat-cell *matCellDef="let element"  class="text-center"> {{element.estado}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
            
  
           
                    <ng-container matColumnDef="ver">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Cantidad </th>
                                <td mat-cell *matCellDef="let element ;let i = index;" class="text-center"> {{cantidades[i]}} </td>
                    
                    </ng-container>
                  
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br>
            <br>
            <br>
            <br>
      </div>
</div>




