<div class="row">
        <div class="col-6">
            <mat-card class="example-card">
               
                 
                    <mat-card-header>
                 
                    <mat-card-title >PEDIDO N°{{dato.identificador}}</mat-card-title>
    
                  
                  </mat-card-header>
             
                  
              
                <mat-card-content>
                  <br><br>
                  <label> <b>Precio :</b> {{dato.precio}}</label> <br>
                  <label> <b>Estado:</b>  {{dato.estado}}</label> <br>
                  <label> <b>Cliente :</b>  {{dato.cliente}}</label> <br>
                  <label> <b>Conductor :</b>  {{dato.conductor}}</label> <br>
                  <label> <b>Administrador :</b>  {{dato.administrador}}</label> <br>
                  <br><br>
                </mat-card-content>
                <mat-card-actions>
                        <button class="btn btn-block btn-lg btn-primary" (click)="back()">Volver Atras</button>
                </mat-card-actions>
              </mat-card>
        </div>

      <div class="col-6">
          <mat-card class="example-card">
               
                 
              <mat-card-header>
           
              <mat-card-title >CLIENTE N°{{cliente.identificador}}</mat-card-title>

            
            </mat-card-header>
       
            
        
         <mat-card-content>
            <label> <b>Nombre :</b> {{cliente.nombre}}</label> <br>
            <label> <b>Carnet:</b>  {{cliente.carnet}}</label> <br>
           
            
          </mat-card-content> 
          <mat-card-actions>
              <button class="btn btn-success btn-block" (click)="goToView(cliente.identificador)">Ver Mas</button>
                  
          </mat-card-actions>
        </mat-card>
        
        <mat-card class="example-card">
               
                 
            <mat-card-header>
         
            <mat-card-title >EMPLEADO N°{{empleado.identificador}}</mat-card-title>

          
          </mat-card-header>
     
          
      
       <mat-card-content>
          <label> <b>Nombre :</b> {{empleado.nombre}}</label> <br>
          <label> <b>Cargo:</b>  {{empleado.cargo}}</label> <br>
         
        </mat-card-content> 
        <mat-card-actions>
            <button class="btn btn-primary btn-block" (click)="goToEmpleado(empleado.identificador)">Ver Mas</button>
                
        </mat-card-actions>
      </mat-card>
      </div> 
    </div>
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">LISTA DE PRODUCTOS</h5>
        <table mat-table [dataSource]="productos" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
       
          
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
          

         
                  <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Ver </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> 
                       <button class="btn btn-success btn-sm" (click)="goToProduct(element.identificador)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>
                       </button> 
                      
                     </td>
                  
                  </ng-container>
                
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <br>
          <br>
          <br>
          <br>
    </div>
  </div>
    