<div class="row">
        <div class="col-8 offset-2">
                <form action="" method="POST">
                        <div class="form-group">
                                <mat-form-field class="input">         
                                    <input matInput placeholder="Nombre" required name="nombre" 
                                  [(ngModel)]="dato.nombre">
                                  </mat-form-field>
                            </div>
                            <div class="form-group">
                                    <mat-form-field class="input">
                                    <input matInput placeholder="Apellido" required name="apellido" 
                                        [(ngModel)]="dato.apellidos"
                                        >
                                     </mat-form-field>
                           </div>
                              
                           <div class="form-group">
                                        <mat-form-field class="input">
                                        <input matInput placeholder="Correo" required name="correo" [(ngModel)]="dato.correo">
                                        </mat-form-field>
                           </div>
                                  
                           <div class="form-group">
                                            <mat-form-field class="input">
                                            <input matInput placeholder="Direccion" required name="direccion"  [(ngModel)]="dato.direccion">
                                            </mat-form-field>
                           </div>
                           <div class="form-group">
                                        <mat-form-field class="input">         
                                            <input matInput placeholder="Telefono" required name="telefono" 
                                          [(ngModel)]="dato.telefono">
                                          </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                            <mat-form-field class="input">
                                            <input matInput placeholder="Carnet" required name="carnet" 
                                                [(ngModel)]="dato.carnet"
                                                >
                                             </mat-form-field>
                                   </div>
                                      
                                   <div class="form-group">
                                    <mat-form-field class="input" name="cargo">
                                        <mat-label>Cargo</mat-label>
                                        <mat-select [(value)]="dato.cargo">
                                                <mat-option *ngFor="let food of foods" [value]="food.value">                                            {{food.viewValue}}
                                                  </mat-option>
                                                        </mat-select>
                                </mat-form-field>
                                   </div>
                                    
                                   <div class="form-group">
                                                <mat-form-field class="input" name="sucursal"> 
                                                    <mat-label>Sucursal</mat-label>
                                                    <mat-select [(value)]="dato.sucursal">
                                                            <mat-option *ngFor="let sucursal of sucursals" [value]="sucursal.identificador">                                            {{sucursal.nombre}}
                                                              </mat-option>
                                                                    </mat-select>
                                            </mat-form-field>
                                               </div>

                               
                                   <div class="form-group" *ngIf="formNew">
                                                <mat-form-field class="input">
                                                <input matInput placeholder="Contraseña" required name="contrasena" type="password" [(ngModel)]="dato.contrasena">
                                                </mat-form-field>
                               </div>                    
                    <button *ngIf="formNew" (click)="send()" class="btn btn-success btn-lg btn-block" >Enviar</button>
                   
                </form>
                <button  *ngIf="formUpdate" class="btn btn-primary btn-lg btn-block" (click)="update()" >Actualizar</button>
                <button class="btn btn-secondary btn-lg btn-block" (click)="back()">Volver Atras</button>
        </div>
    </div>
    
