<div class="row">
    <div class="col-8 offset-2">
            <form action="" method="POST">
                    <div class="form-group">
                            <mat-form-field class="input">
                                        
                                <input matInput placeholder="Nombre" required name="nombre" 
                              [(ngModel)]="dato.nombre"
                                 >


                              </mat-form-field>
                           
                        </div>
                        <div class="form-group">
                                <mat-form-field class="input">
                                    <input matInput placeholder="Direccion" required name="direccion" 
                                    [(ngModel)]="dato.direccion"
                                    >
                                  </mat-form-field>
                            </div>
                          
                            <div class="form-group">
                                    <mat-form-field class="input">
                                        <input matInput placeholder="Ciudad" required name="ciudad" [(ngModel)]="dato.ciudad">
                                      </mat-form-field>
                                </div>
                              
                                <div class="form-group">
                                        <mat-form-field class="input">
                                            <input matInput placeholder="Telefono" required name="telefono"  [(ngModel)]="dato.telefono">
                                          </mat-form-field>
                                    </div>
                                   
                <button (click)="send()" class="btn btn-success btn-lg btn-block" >Enviar</button>
               
            </form>
            <button   class="btn btn-primary btn-lg btn-block" (click)="update()" >Actualizar</button>
    </div>
</div>
